$brand-orange: #e98300;
$brand-green: #8dc63f;

$body-background: #fff;

$page-background: $body-background;

$main-color: $brand-orange;

$black: #000000;
//$gray-darker: #2e2e2e;
$gray-dark: #373736;//old #3f3f3e;
$gray: #8b8b8a; //old 595958;
$gray-light: #d4d4d2;
$gray-lightest: #F0F0F0; //slide bg
$white: #fff;

$highlight-background: #ffffb2; //light yellow

$light-background: $gray-lightest; //#eeebe2; //tan

$font-family: 'Roboto', Arial, sans-serif;
$accent-font: 'Roboto', Arial, sans-serif;

$font-color: #333;
$link: #1D88D7;
$link: $main-color;
$link-hover: lighten($link,8);
$error: #dd2a00;
$success: #5bad29;

$page-size: 1000px;
$category-page-size: 940px;

$desktop-side-space: 20px;
$mobile-side-space: 30px;

$button-color: $main-color;
$button-hover: lighten($main-color,8);
$button-secondarycolor: $gray;
$button-secondaryhover: lighten($gray,8);

$border-color: $gray-light;
$field-height: 40px;

$z-index-nav: 1000;
$z-index-modal: 1010;

$desktop-side-space: 20px;
$mobile-side-space: 30px;



$spacing--vertical: 16px;
$color--border: $border-color;




@mixin transition($transitions) {
    -webkit-transition: $transitions;
    -moz-transition: $transitions;
    -o-transition: $transitions;
    transition: $transitions;
}
@mixin transition-delay($transitions) {
    -webkit-transition-delay: $transitions;
    -moz-transition-delay: $transitions;
    -o-transition-delay: $transitions;
    transition-delay: $transitions;
}
@mixin transform($variables) {
  -webkit-transform: $variables;
  -moz-transform:    $variables;
  -ms-transform:     $variables;
  -o-transform:      $variables;
  transform:         $variables;
}
@mixin gradient($start,$start-opacity,$stop,$stop-opacity) {
  background: $start;
  background: -moz-linear-gradient(top,  rgba($start,$start-opacity) 0%, rgba($stop,$stop-opacity) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba($start,$start-opacity)), color-stop(100%,rgba($stop,$stop-opacity))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba($start,$start-opacity) 0%,rgba($stop,$stop-opacity) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba($start,$start-opacity) 0%,rgba($stop,$stop-opacity) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba($start,$start-opacity) 0%,rgba($stop,$stop-opacity) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba($start,$start-opacity) 0%,rgba($stop,$stop-opacity) 100%); /* W3C */
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}