$nav-height: 50px;
$nav-width: 240px;
$mobile-nav-width: 200px;
$nav-menu-icon-size: 24px;
$main-nav-background: $main-color;
/*
.nav-icon {
  display: inline-block;
  //background-image: url(/downloads/Images/nav-icons-v3.png);
  background-image: url(https://downloads.channelmaster.com/Images/nav-icons-v3.png);
  background-size: 200px 187px;
  background-repeat: no-repeat;
  background-position: 0 0;
  text-indent: -50000px;
  &.logo-img {
    width: 130px;
    height: 25px;
    background-position: 0 0;
  }
  &.icon-cm {
    width: 50px;
    height: 50px;
    background-position: 0 -26px;
  }
}*/
.navigation {
  width: $nav-width;
  position: fixed;
  top: 0; bottom: 0;
  left: 0;
  background: $black;
  padding: 20px;
  .logo {
    a {
      display: block;
      max-width: 150px;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      color: $white;
    }
  }
  a {
    text-decoration: none;
    color: $gray;
  }
  h3, h3 a {
    color: $white;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
  }
  h3 {
    margin-top: 20px;
  }
}
.content {
  max-width: $page-size - $nav-width;
  margin: 0 0 0 $nav-width;
  padding-left: 40px;
}
.content__aside {

}
.content__main {
  
}