<a name="web-fonts"></a>
<div class="ui-kit">
  <h2 class="ui-kit__title">Base Fonts</h2>
  <p class="ui-kit__desc">We use <a href="https://fonts.google.com/specimen/Roboto" targe="_blank">Roboto, a free Google Web Font,</a> for all headers and body copy. Tags for inline text elements are given default styles.</p>
  <div class="ui-kit__example">
    <p>Channel Master is the <strong>industry leader</strong> in over-the-air broadcast entertainment products and solutions for North America, providing the highest quality and value for <u>consumers since 1949</u>. Headquartered in Phoenix, Arizona, <em>our products are available</em> through more than 200 distributors and thousands of retail stores worldwide.</p>
  </div>
</div>
<div class="ui-kit">
  <h2 class="ui-kit__title">Headlines</h2>
  <p class="ui-kit__desc">We use <a href="https://fonts.google.com/specimen/Roboto" targe="_blank">Roboto, a free Google Web Font,</a> for all headers and body copy.</p>
  <div class="ui-kit__example">
    <h1>Headline Font is Large</h1>
    <h2>H2 font is a bit smaller</h2>
    <h3>An H3 will be this size</h3>
  </div>
</div>
<div class="ui-kit">
  <h2 class="ui-kit__title">Backup Font</h2>
  <p class="ui-kit__desc">When custom fonts are not available, Helvetica will be used for all headers and body copy.</p>
  <div class="ui-kit__example">
    <h1 class="backup">Backup Font</h1>
    <p class="backup">Backup body font Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur nibh leo, eget aliquet orci condimentum auctor. Praesent consectetur ex non sagittis auctor. Sed sit amet felis vitae nunc convallis lacinia. Nulla elit tortor, consequat quis purus sit amet, pellentesque commodo tortor. Proin tristique ligula enim, ac vestibulum dui hendrerit at. Proin lobortis maximus quam placerat mattis. Pellentesque luctus volutpat nulla in aliquam. Praesent cursus neque ex, in finibus libero finibus in. Cras aliquet leo quis ex tempus, vitae pellentesque enim cursus. Pellentesque luctus blandit rhoncus. Nunc pharetra lectus risus, vel mollis tellus ornare et. Sed quis arcu diam. Proin at cursus libero.</p>
    <div class="ui-kit__help-text">font: Helvetica</div>
  </div>
</div>