<a name="web-colors"></a>
<div class="ui-kit">
  <h2 class="ui-kit__title">Colors</h2>
  <p class="ui-kit__desc">We have four primary brand colors.</p>
  {% include patterns/colors.html layout='web-main' %}

  <p class="ui-kit__desc">For consistency, we try to use these four grayscale values throughout our interfaces.</p>
  {% include patterns/colors.html layout='web-gray' %}

  <p class="ui-kit__desc">They're not part of our brand, but we use these guys in special cases.</p>
  {% include patterns/colors.html layout='web-special' %}

</div>