<a name="cm-fonts"></a>
<div class="ui-kit">
  <h2 class="ui-kit__title">Brand Font</h2>
  <p class="ui-kit__desc">Final determination of Brand Font has not been established. We use <a href="https://fonts.google.com/specimen/Roboto" targe="_blank">Roboto, a free Google Web Font,</a> for all headers and body copy on channelmaster.com.</p>
  <div class="ui-kit__example">
    <h1>Headline Font is Large</h1>
    <h2>H2 font is a bit smaller</h2>
    <h3>An H3 will be this size</h3>
    <p>Channel Master is the <strong>industry leader</strong> in over-the-air broadcast entertainment products and solutions for North America, providing the highest quality and value for <u>consumers since 1949</u>. Headquartered in Phoenix, Arizona, <em>our products are available</em> through more than 200 distributors and thousands of retail stores worldwide.</p>
  </div>
</div>
</div>