<a name="cm-symbol"></a>
<div class="ui-kit">
  <h2 class="ui-kit__title">Channel Master Symbol</h2>
  <p class="ui-kit__desc">
    The Channel Master icon should be used in cases where the horizontal nature of the Channel Master logo would render it either unreadable or too small in comparison with partner logos.</p>
  <div class="ui-kit__example ui-kit__logos">
    <div class="ui-kit__logos--lightbg">
      <img src="{{ site.baseurl }}/img/channel-master-icon.png" alt="Channel Master Icon" />
      <p>Light backgrounds: Black with White CM</p>
    </div>
    <div class="ui-kit__logos--darkbg">
      <img src="{{ site.baseurl }}/img/channel-master-icon-white.png" alt="Channel Master Icon White" />
      <p>Dark backgrounds: White with transparent CM</p>
    </div>
  </div>
</div>