<a name="cm-logos-other"></a>
<div class="ui-kit">
  <h2 class="ui-kit__title">Other Logos</h2>
  <p class="ui-kit__desc">Other logos. They must be legible and maintain the integrity of its form.</p>
  <div class="ui-kit__example ui-kit__logos">
    <div class="logo-other">{% include svg/channelmaster-productions-logo.svg %}</div>
    <div class="logo-other">{% include svg/todayintwo-logo.svg %}</div>
</div>
<style>
.logo-other {
  max-width: 300px;
  margin: 0 auto 20px;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}
</style>