<a name="cm-logos-product"></a>
<div class="ui-kit">
  <h2 class="ui-kit__title">Product Logos</h2>
  <p class="ui-kit__desc">Channel Master product logos should be either gray and orange or white and orange. They must be legible and maintain the integrity of its form.</p>
  <div class="ui-kit__example ui-kit__logos">
    <div class="ui-kit__logos--lightbg">
      <div class="logo-product">{% include svg/smartenna-plus-logo.svg %}</div>
      <p>Light backgrounds: Gray & Orange</p>
    </div>
    <div class="ui-kit__logos--darkbg">
      <div class="logo-product logo-product--darkbg">{% include svg/smartenna-plus-logo.svg %}</div>
      <p>Dark backgrounds: White & Orange</p>
    </div>
  </div>
  <div class="ui-kit__example ui-kit__logos">
    <div class="ui-kit__logos--lightbg">
      <div class="logo-product">{% include svg/stream-plus-logo.svg %}</div>
      <p>Light backgrounds: Gray & Orange</p>
    </div>
    <div class="ui-kit__logos--darkbg">
      <div class="logo-product logo-product--darkbg">{% include svg/stream-plus-logo.svg %}</div>
      <p>Dark backgrounds: White & Orange</p>
    </div>
  </div>
</div>
<style>
.logo-product {
  fill: #8b8b8a;
}
.logo-product .plus {
  fill: #e98300;
}
.logo-product--darkbg {
  fill: #fff;
}
</style>