<a name="cm-logo"></a>
<div class="ui-kit">
  <h2 class="ui-kit__title">Channel Master Logo</h2>
  <p class="ui-kit__desc">The Channel Master logo is always either white or black. It must be legible and maintain the integrity of its form.</p>
  <div class="ui-kit__example ui-kit__logos">
    <div class="ui-kit__logos--lightbg">
      <img src="{{ site.baseurl }}/img/channel-master-logo.png" alt="Channel Master Logo" />
      <p>Light backgrounds: Black Full Logo</p>
    </div>
    <div class="ui-kit__logos--darkbg">
      <img src="{{ site.baseurl }}/img/channel-master-logo-white.png" alt="Channel Master Logo White" />
      <p>Dark backgrounds: White Full Logo</p>
    </div>
  </div>
</div>
<div class="ui-kit">
  <h3 class="ui-kit__title">Clear space</h3>
  <p class="ui-kit__desc">When you're using the logo with other graphic elements, make sure you give it some room to breathe. The empty space around the logo should follow these guidelines using the 'a' as a measurement.</p>
  <div class="ui-kit__example">
    <img src="{{ site.baseurl }}/img/channel-master-logo-SAFEAREA.png" alt="Channel Master Logo Safe Area" />
  </div>
</div>