<div class="logo"><a href="{{ site.baseurl }}/"><span class="logo logo--white">{% include svg/channelmaster.svg %}</span><em>Styleguide 2018</em></a></div>

<div class="ui-kit__navigation">
	<h3><a href="{{ site.baseurl }}/">Brand<a></h3>
	<div><a href="{{ site.baseurl }}/#cm-logo">Channel Master Logo</a></div>
	<div><a href="{{ site.baseurl }}/#cm-symbol">Channel Master Symbol</a></div>
	<div><a href="{{ site.baseurl }}/#cm-colors">Brand Colors</a></div>
	<div><a href="{{ site.baseurl }}/#cm-fonts">Brand Fonts</a></div>
	<div><a href="{{ site.baseurl }}/#cm-logos-product">Product Logos</a></div>
	<div><a href="{{ site.baseurl }}/#cm-logos-other">Other Logos</a></div>

	<h3><a href="{{ site.baseurl }}/web.html">Web & Emails</a></h3>
	<div><a href="{{ site.baseurl }}/web.html#web-fonts">Fonts</a></div>
	<div><a href="{{ site.baseurl }}/web.html#web-colors">Colors</a></div>
	<div><a href="{{ site.baseurl }}/web.html#web-buttons">Buttons & Fields</a></div>
	<div><a href="{{ site.baseurl }}/web.html#web-grid">Grid</a></div>
	<div><a href="{{ site.baseurl }}/web.html#web-product-box">Product Box</a></div>

	<h3><a href="{{ site.baseurl }}/print.html">Print & Packaging</a></h3>
</div>